---
import Layout from '../layouts/default.astro'

import Markdown from '../components/about.md'
---

<Layout title="AInk News – About" activePage="about">
    <Markdown />
    <hr>
    <p>
        We are a project in the <a href="https://sph.ethz.ch">ETH Student Project House</a>.
    </p>
    <p>
        <img src="/sph-logo.svg" alt="ETH Student Project House" class="dark:hidden">
        <img src="/sph-logo-dark.svg" alt="ETH Student Project House" class="hidden dark:block">
    </p>
</Layout>
