---
import "@fontsource-variable/chivo";
import "@fontsource/rajdhani/500.css";
---

<head>
    <meta charset="utf-8">
    <title>AInk News – Mailing List</title>
</head>

<nav class="flex items-center w-screen h-20 p-3 static-bg">
    <div class="text-4xl h-[1em]">
        <div class="absolute">
            <a class="nav-home" href="/">
                <h1 class="title-writing">AInk News</h1>
            </a>
        </div>
    </div>
    <div class="flex justify-center items-center grow gap-10">
        <a class="nav-link text-2xl" href="/about">
            About
        </a>
        <a class="nav-link text-2xl" href="/mailing">
            Mailing List
        </a>
        <a class="nav-link text-2xl" href="/socialmedia">
            Social Media
        </a>
    </div>
</nav>

<div class="content max-w-full mx-auto py-10 px-3">
    <h1 class="text-5xl">Mailing List</h1>
    <form method="post" action="https://listmonk.aink.news/subscription/form" class="listmonk-form pt-2">
        <div>
            <h3>Subscribe</h3>
            <input type="hidden" name="nonce">
            <p><input type="email" name="email" required placeholder="E-mail"></p>
            <p><input type="text" name="name" placeholder="Name (optional)"></p>

            <p>
                <input id="a2984" type="checkbox" name="l" checked value="a29848a5-b504-4bde-bb93-df7cc277adcf">
                <label for="a2984">Product Updates</label><br><span>Recife updates on the product and questionnaires to improve our product.</span>
            </p>
            <p>
                <input id="acd31" type="checkbox" name="l" checked value="acd312a0-a276-4593-882d-0110b5bcf647" />
                <label for="acd31">Product Launch</label><br><span>Get notified when we launch our product.
    </span>
            </p>

            <p><input type="submit" value="Subscribe"></p>
        </div>
    </form>
</div>

<style>
    :root {
        --top-color: rgb(146, 44, 174);
        --bottom-color: rgb(123, 0, 100);
        --degree: 90deg;
        --accent-color: #5b49e3;
    }

    .nav-link {
        color: rgba(255, 255, 255, 0.6);
    }

    .nav-home {
        color: rgba(255, 255, 255, 0.8);
    }

    .nav-link:hover, .nav-home:hover {
        color: rgba(255, 255, 255, 1);
    }

    .static-bg {
        background: linear-gradient(
            var(--degree),
            var(--top-color) 0%,
            var(--accent-color) 45%,
            var(--accent-color) 55%,
            var(--bottom-color) 100%
        );
    }

    .title-writing {
        font-family: "Chivo Variable", sans-serif;
    }

    .content {
        width: 1280px;
    }
</style>
