---
import Base from './base.astro'
import Nav from '../components/nav.astro'
import '../styles/default.scss'

interface ComponentProps {
    title: string
}

type Props = {
    frontmatter: ComponentProps
} | ComponentProps

const { title } = "frontmatter" in Astro.props ? Astro.props.frontmatter : Astro.props
---
<Base title={title}>
    <nav class="dynamic-bg flex justify-between items-center w-screen h-20 p-3">
        <Nav showLogo />
    </nav>
    <div class="content max-w-full mx-auto py-10 px-3">
        <slot />
    </div>
</Base>
